@font-face 
  {
	font-family: Roboto_reg;
    src: url(fonts/Roboto-Regular.ttf);

  }

  .first_bg
  {
    background-image: url(/Img/blog-banner.png);
  }

  .video_style {
    margin-left: 270px;
}
 .roboto_bold
 {
     font-family: Roboto-Bold !important;
 } 

 .roboto_bold
 {
     font-family: Roboto-Medium !important;
 } 

 .six_style
 {
    padding-top: 20px;
    padding-left: 676px;    
 }

 .nav-style1
{
  margin-left: 235px;
}

 .seven_style
 {
   text-align: center;
   padding-top: 35px;
 }

 .six_style h5
 {
    text-shadow: black;
 }

 .Roboto_reg
 {
     font-family: Roboto-Regular !important;
 } 

 
*{
    font-family: Roboto;
 }

.firstext_style
{
    margin-top: 70px;
}

.btn_style
{
    background-color: #10c9c3;
    color: white;
    border: none;
    padding: 10px;
}

.nav-style
{
    color: black;
}


.logo-style
{
margin-top: 28px;
padding-left: 250px;
}

.navbar-nav a:hover
{
color: #10c9c3; 
}


.sec_style {
    margin-top: 30px;
    padding: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.progress_sec 
{
    margin-top: 0px;
    padding-left: 40px;
    padding: 95px; 
}

.five_bg {
        background-color: #10c9c3;
        height: 250px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 35px;
        padding-right: 35px;
}

.card_img
{
    max-width: 100%;
    max-height: 100%;
}

.sec_style2
{
 padding-left: 650px;
 margin-bottom: 35px;
}

.signature_style
{
text-align: center;
padding-left: 650px;
}

.txt_style2 {
    color: white;
    padding-top: 100px; 
    padding: 145px; 
}


.comment_style
{
  width: 450px;
  height: 150px;

}

.btn_style2
{
    background-color: #10c9c3;
    color: white;
    border: none;
    display: inline;
    margin-left: 150px;
    padding: 10px;
}

.form_style2
{
    padding: 10px;
    padding-left: 95px;
}

.footer_style1
{
    padding: 40px;
    padding-left: 90px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: -15px;
}

.footer-style3
{
    padding: 0px;
}


.bs-example{
    margin: 20px;
}

.prof_style
{
   max-width: 100%;
   max-height: 100%;
}

.footer-style2
{
    padding: 10px;
    padding-left: 80px;
}


.eleven_style
{
   padding-top: 100px;
   padding-bottom: 50px;
}

.form_style {
    padding-left: 50px;
    margin-top: 100px;
    padding-bottom: 60px;
    /* padding: 211px; */
}

.ten_style{    
    padding: 48px;
    margin-top: 10px;
    padding-left: 130px;
    padding-right: -27px;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nine_bg
{
    background-color:  #10c9c3;
    height: 450px;
}


.img_style
{
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    max-height: 100%;
    padding-left: 50px;
}

.first_sec
{
   margin-top: 0px;
   padding-bottom: 50px;
}

@media (min-width: 1200px) and (max-width: 1600px)
{
    .ten_style {
        padding: 48px;
        margin-top: 10px;
        padding-left: 60px;
        padding-right: -27px;
    }

    .footer-style2 {
        padding: 0px;
        padding-left: 20px;
    }

    

    .eleven_style .txt_style2
    {
        padding-left: 150px;
    }

    .form_style {
        padding-left: 50px;
        margin-top: 55px;
        padding-bottom: 60px;
        /* padding: 211px; */
    }
  
    .eleven_style .txt_style1
    {
     padding-left: 630px;
    }


    .eleven_style .txt_style {
        padding-left: 310px;
    }

    .txt_style
    {

        padding-left: 130px;
    }

    .txt_style1 {
        padding-left: 630px;
    }
    

}


@media (min-width: 992px) and (max-width: 1199px)
{

    .eleven_style {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .nav-style1
    {
        margin-left: 87px;
    }

    .logo-style
    {
        margin-top: 31px;
        padding-left: 190px;
    }

    .sec_style2 
    {
        padding-left: 500px;
    }

    .progress_sec 
    {
        margin-top: 0px;
        padding-left: 40px;
        padding: 60px;
    }

    .ten_style {
        padding: 48px;
        margin-top: 10px;
        padding-left: 35px;
        padding-right: -27px;
    }

    .footer-style2 
    {
        padding: 10px;
        padding-left: 10px;
    }

    .eleven_style .txt_style1 
    {
        padding-left: 375px;
    }

    .form_style 
    {
        padding-left: 50px;
        margin-top: 50px;
        padding-bottom: 60px;
        /* padding: 211px; */
    }

    .eleven_style p     
    {        
    margin-top: 18px;
    margin-bottom: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 991px)
{


    .ten_style 
    {
        padding: 48px;
        margin-top: 10px;
        padding-left: 80px;
        padding-right: -27px;
    }     

    .nine_bg .txt_style2 {
        color: white;
        padding-top: 100px;
        padding: 100px;
    }


    .progress_sec {
        margin-top: 0px;
        padding-left: 40px;
        padding: 25px;
    }

    .txt_style
    {
        padding-left: 105px;
    }

    .txt_style1 {
        padding-left: 230px;
    }

    .form_style {
        padding-left: 50px;
        margin-top: 70px;
        padding-bottom: 60px;
        /* padding: 211px; */
    }
   
}




@media (min-width: 576px) and (max-width: 767px)
{
       

    .txt_style2 
    {
        color: white;
        padding-top: 0px;
        padding: 60px;
    }

    .progress_pic
    {
    max-width: 100%;
    max-height: 100%;
    padding-left: 40px;
    }

    .five_bg {
        background-color: #10c9c3;
        height: 330px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 40px;
        padding-right: 0px;
    }

    .ten_style {
        padding: 48px;
        margin-top: 10px;
        padding-left: 120px;
        padding-right: -27px;
    }  


   .eleven_style .txt_style
    {
      padding-left: 50px;
      text-align: center;
    }


    .form_style {
        padding-left: 50px;
        margin-top: 50px; 
        padding-bottom: 60px;

    }

    .footer-style2 {
        padding: 10px;
        padding-left: 5px;
    }

}


@media (min-width: 0px) and (max-width: 575px)
{



}
